/*

Owen Gallagher
10 August 2021

*/

#userStats {
	-fx-background-color: #ffffff;
}

Button {
	-fx-background-color: #435cff; 
	-fx-text-fill: #ffffff;
}

Button:hover {
	-fx-background-color: #140092;
}
