/*

Owen Gallagher
13 June 2021

*/

.root {
	-fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-text-fill: #000;
    -fx-background-color: #fff;
}

/*
MenuBar {
	-fx-background-color: #333333;
}
*/

MenuItem {
	-fx-background-color: #555555;
	-fx-text-fill: #ffffff;
}

ScrollPane {
	-fx-background-color: transparent;
	-fx-border-style: none;
}

/* see https://stackoverflow.com/a/22952546/10200417 */
ScrollPane > .viewport {
   -fx-background-color: transparent;
}

Button {
	-fx-background-color: #435cff; 
	-fx-text-fill: #ffffff;
}

Button:hover {
	-fx-background-color: #140092;
}

#content {
	-fx-padding: 8 8 8 8;
}

.monospace {
	-fx-padding: 8 8 8 8;
	-fx-font-family: monospace;
}

.h1 {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-padding: 2 0 8 0; 
}

.h2 {
	-fx-font-size: 20px;
	-fx-padding: 2 0 4 0;
}

.h3 {
	-fx-font-size: 16px;
	-fx-padding: 2 0 4 0;
}

.rounded {
	-fx-border-radius: 8px;
}
